.posts-title{
    font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-img{
    border-radius: 14px;
}

.card{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
    margin: 1.5rem;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
}

.card-text{
    font-family: "Roboto", sans-serif;
}

@media (min-width: 850px) {

    .card{
        width: 750px;
        flex-direction: row;
    }
}